.header {
    background-color: #f9f7e8;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.logo {
    font-family: 'Courgette', cursive;
    font-size: 32px;
    line-height: 40px;
    margin-right: 80px;
}
.logo .color {
    color: #62BFAD;
}

.nav {
   display: inline-block;

}
.nav-link{
    font-family: 'Lato', sans-serif;
}
.nav-link + .nav-link {
    margin-left: 20px;
}

/*--------------------------------------------------*/

.first-screen {
    padding-top: 198px;
    padding-bottom: 172px;
    background-color: #d52047;
    color: #ffff;
}

.main-title {
    font-family: 'linelight' sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center ;
    text-transform: uppercase;
    max-width: 738px;
    margin-left: auto;
    margin-right: auto;
}
